@font-face {font-family: 'Noto Sans KR', sans-serif; src:url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*===========================================================================
	CSS 초기화
============================================================================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; line-height:1; font-family: 'Open Sans', 'Noto Sans KR' ,sans-serif;  box-sizing: border-box; color:#363636;}
body {line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
ul {list-style:none;}
a {margin:0; padding:0; font-size:100%; text-decoration: none; color:#363636;}
p {line-height:1.4;}
table {border-collapse:collapse; border-spacing:0;}
input, select {vertical-align:middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; border:1px solid #fff; box-sizing:border-box; background:#fff; vertical-align: bottom;}
img {width:100%; background-repeat: no-repeat;}
button {border:none; }
strong {font-weight:600;}
span {font-weight: 300;}
/*===========================================================================
	공통요소
============================================================================*/
.container {position:relative; width:1400px; height:100%; margin:0 auto; box-sizing:border-box;}
table {border:1px solid #ececec;}
table thead tr th , table tbody tr td, table tfoot tr td {padding:10px;}
table thead tr th {color:#fff; font-weight:600;}
table thead tr th:nth-child(2) {border-left: 1px solid #fff; border-right: 1px solid #fff;}
table tbody tr td {font-weight:300; color:#363636; font-size:16px; border-bottom:1px solid #ececec;}
table tbody tr td:first-child {font-weight:600;}
table tbody tr td:nth-child(2) {border-left: 1px solid #ececec; border-right: 1px solid #ececec;}
table tfoot {background:#ececec;}

.group {display:flex; align-items: center;}

/* 헤더 */
#wrap {width:100%; height:100%;}
header {z-index:1000; position:fixed; top:0; left:0; right:0; height:110px; border-bottom:1px solid rgba(255, 255, 255, 0.2);}
header .container {display:flex; align-items:center; justify-content:space-between; }
header .logo {width:170px; margin-right:100px;}
header .nav {display:flex; align-items:center; }
header .nav li a {display:block; padding:0 20px; font-size:17px; font-weight:600; transition:.4s; color:#fff;}
header .nav li a:hover {color:#327ee4;}
header .sns {display:flex; align-items:center;}
header .sns li {margin-left:20px;}
header .sns li a img {width:30px; height:30px;}

/* 푸터 */
footer {text-align:center; padding:40px; background:#333;}
footer p span {font-size:14px; color:#999;}

/* 메인 */
main {position:relative;}

#wrap .pc {display:block;}
#wrap .mobile {display:none;}
/*===========================================================================
	common - 반응형
============================================================================*/
@media (max-width:1662px) {
	.container {width:100%; padding:0 15px;}
}

@media (max-width:768px) {
	#wrap .pc {display:none;}
	#wrap .mobile {display:block; margin:0 auto;}

	header {height:72px; background:inherit;}
	header .menu {width:30px;}
	header .logo {width:130px;}
	header .sub_menu {overflow-x:scroll; border-top: 1px solid rgba(0, 0, 0, 0.05); border-bottom: 1px solid rgba(0, 0, 0, 0.05);}
	header .sub_menu ul {display:flex; align-items: center; height:40px;}
	header .sub_menu ul li {margin:0 4px;}
	header .sub_menu ul li a {font-size:13px; line-height:1;}


	/* footer */
	footer {display:block;}

	table thead tr th, table tbody tr td, table tfoot tr td {font-size:14px;} 
}

@media (max-width:480px) {
    
}