.banner {
    position: relative;
    width:100vw;
    height:100vh;
    background:url('../images/main/banner_01.png') no-repeat 50% 50%;

    .bannerTxt {
        position: absolute;
        bottom:20%;
        left:0;
        width:700px;
        height:200px;
        background:url('../images/main/banner_txt_01.png') no-repeat 50% 50%;
        background-size:cover;
    }
}

.subNav {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    width:100%;
    height:120px;

    li {
        position:relative;
        width:calc(100% / 3);
        background:rgba(0,0,0,0.4);
        border:1px solid rgba(255,255,255,0.25);
        overflow:hidden;
        a {
            display:block;
            text-align: center;
            line-height:120px;
            color:#fff;
            font-size:24px;
            font-weight:bold;
            .hoverSubNav{
                position:absolute;
                left:0;
                transform:translateY(0%);
                width:100%;
                height:100%;
                background: #364BAB;
                padding: 30px 60px;
                transition: 0.5s;
                text-align: left;
                strong {
                    display:block;
                    font-size:24px;
                    margin-bottom: 10px;
                }
                span {
                    opacity:0.8;
                    font-size:15px;
                }
                .arrow {
                    float:right;
                    width:40px;
                    margin-top:-8px;
                    transition:.4s;
                    &:hover {
                        transform:translateX(20px);
                    }
                }
            }  
            &:hover {
                .hoverSubNav{
                    transform:translateY(-102%);
                }
            }  
        }
    }
}


/* 서브페이지 */
.subBanner {
    position:relative;
    height:530px;
    &.sub_banner_company {
        background:url('../images/main/company/company_banner.png')no-repeat 50% 50%;
        background-size:cover;
    }
    h3 {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        font-size:48px;
        color:#fff;
        font-weight:400;
    }
}

.companyIntro {
    background:url('../images/main/company/company_background.png');
    background-size:cover;
    height:100%;
    padding:90px 0 0;

    .row {
        padding-bottom:130px;
        &.row1 {
            display:flex;
            align-items: center;
            justify-content: center;

            img {
                width:470px;
            }
            &>div {
                padding: 0 20px;
                &.right {
                    &>div {
                        margin-bottom:30px;
                        p {
                            font-size:36px;
                            strong {
                                color:#364bab;
                            }
                        }
                        span {
                            display:block;
                            font-size:18px;
                            line-height:1.4;
                        }
                    }
                }
            }
        }
        &.row2 {
            text-align:center;
            &>p {
                &:first-child {
                    font-size:22px;
                    color:#363636;
                }
                &:last-child {
                    font-size:30px;
                    color:#363636;
                    strong {
                        color:#364bab;
                        font-weight:600;
                    }
                }
            }
            > img {
                width:78px;
                margin:34px 0 14px;
            }
            h5 {
                font-size:26px;
                font-weight: 500;
                margin-bottom:36px;
            }
            .txt {
                margin-bottom:30px;
                p {
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }
    }
}

.companyHistory {
    padding:90px 0;
    display:flex;
    justify-content: center;
    .col {
        display:flex;
        width:50%;
        padding:0 15px;
        
        img {
            display:inline-block;
            width:70px;
            margin-right:20px;
        }
        .right {
            h5 {
                position:relative;
                font-size:30px;
                font-weight: 400;
                padding-bottom: 40px;
                &::after {
                    content:'';
                    position:absolute;
                    left:0;
                    bottom:0;
                    width:60%;
                    height:3px;
                    background:#364bab;
                }
            }
            ul {
                padding:24px 0;
                li {
                    font-size:16px;
                    line-height:2;
                }
            }
        }
        &.col1 {
            justify-content: flex-end;
        }
        &.col2 {
            
        }
    }
}
